[data-name="flickr_private_token"] {
  display: none;
}
[data-name="flickr_secret_key"] {
  display: none;
}
[data-name="flickr_cache_duration"] {
  display: none;
}
[data-name="flickr_admin_cache_duration"] {
  display: none;
}
.acf-field .description a {
  text-decoration: underline;
}